<div style="width: 100%; height: 100%; position: relative; border: 1px black solid;"
     (wheel)="onScroll($event)"
     (mouseup)="onMouseUp($event)"
     (mousemove)="onMouseMove($event)">
  <svg #svg
       width="100%"
       height="100%"
       style="position: absolute;">
    <ng-container *ngFor="let line of lines">
      <path [attr.d]="line.animatedSvgPath"
            stroke-width="2"
            fill="transparent"
            stroke="white">
      </path>
<!--      <circle r="5"-->
<!--              [attr.cx]="line.origin!().x"-->
<!--              [attr.cy]="line.origin!().y"-->
<!--              stroke="red"-->
<!--              fill="red"-->
<!--              stroke-width="1"-->
<!--              class="svg-node">-->
<!--      </circle>-->
<!--      <circle r="5"-->
<!--              [attr.cx]="line.destination!().x"-->
<!--              [attr.cy]="line.destination!().y"-->
<!--              stroke="pink"-->
<!--              fill="pink"-->
<!--              stroke-width="1"-->
<!--              class="svg-node">-->
<!--      </circle>-->
    </ng-container>
    <ng-container *ngFor="let figure of figures">
      <circle *ngIf="isCircle(figure)"
              (mousedown)="onMouseDown($event, figure)"
              [attr.r]="asCircle(figure).radius"
              [attr.cx]="figure.animatedCenter.x"
              [attr.cy]="figure.animatedCenter.y"
              [attr.stroke]="figure.isFixed ? 'blue' : 'green'"
              [attr.fill]="figure.isFixed ? 'blue' : 'green'"
              stroke-width="3"
              class="svg-node">
      </circle>
      <circle *ngIf="isPoint(figure)"
              r="5"
              [attr.cx]="figure.animatedCenter.x"
              [attr.cy]="figure.animatedCenter.y"
              [attr.stroke]="figure.isFixed ? 'blue' : 'red'"
              [attr.fill]="figure.isFixed ? 'blue' : 'red'"
              stroke-width="1"
              class="svg-node">
      </circle>
      <polygon *ngIf="isPolygon(figure)"
               (mousedown)="onMouseDown($event, figure)"
               [attr.points]="asPolygon(figure).animatedSvgPoints"
               [attr.stroke]="figure.isFixed ? 'blue' : 'green'"
               fill="transparent"
               stroke-width="3"
               class="svg-node">
      </polygon>
    </ng-container>
  </svg>

  <div class="overlay">
    <ng-container *ngFor="let figure of figures">
      <div *ngIf="isCircle(figure)"
           class="html-node"
           [style.left]="(figure.animatedCenter.x - asCircle(figure).radius) + 'px'"
           [style.top]="(figure.animatedCenter.y - asCircle(figure).radius) + 'px'"
           [style.width]="asCircle(figure).radius * 2 + 'px'"
           [style.height]="asCircle(figure).radius * 2 + 'px'">
        <div style="width: 70%; height: 70%; margin: auto;text-align: center; display: flex;">
          <span appFigureWithLabel
                class="node-text m-auto">{{figure.label}}</span>
        </div>
      </div>
    </ng-container>
  </div>
</div>
