.overlay {
  width: 100%;
  height: 100%;
}

.html-node {
  user-select: none;
  border-radius: 100%;
  background-color: transparent;
  position: absolute;
  transition: all 0.5s ease-out;
  display: flex;
}

.svg-node {
  user-select: none;
  border-radius: 100%;
  transition: all 0.5s ease-out;
}

.node-text {
  color: white;
  text-align: center;
  margin: auto;
}

.node:hover {
  background-color: darken(darkblue, 20%);
}

.svg-board {
  pointer-events: none;
}
