<div style="width: 100%; position: relative; border: 1px black solid; overflow: hidden; display: flex;"
     [style.height]="height + 'px'"
     (wheel)="onScroll($event)"
     (mouseup)="onMouseUp($event)"
     (mousemove)="onMouseMove($event)"
     (mousedown)="onMouseDown($event, undefined)">
    <svg #svg
         [attr.viewBox]="printViewBox()"
         width="100%"
         height="100%"
         style="position: absolute;">
        <ng-container *ngFor="let line of lines">
            <path [attr.d]="line.svgPath"
                  [attr.stroke-width]="line.width"
                  [attr.stroke]="line.color"
                  fill="transparent">
            </path>
        </ng-container>
        <ng-container *ngFor="let figure of figures">
            <circle *ngIf="isCircle(figure)"
                    [attr.r]="asCircle(figure).animatedRadius"
                    [attr.cx]="figure.animatedCenter.x"
                    [attr.cy]="figure.animatedCenter.y"
                    [attr.stroke]="figure.strokeColor ?? 'transparent'"
                    [attr.stroke-width]="figure.strokeWidth ?? 'transparent'"
                    [attr.fill]="figure.fillColor"
                    [style.--hoverFill]="figure.hoverFillColor"
                    (mousedown)="onMouseDown($event, figure)"
                    (click)="onFigureClick($event, figure)"
                    class="svg-node">
            </circle>
            <circle *ngIf="isPoint(figure)"
                    r="5"
                    [attr.cx]="figure.animatedCenter.x"
                    [attr.cy]="figure.animatedCenter.y"
                    [attr.stroke]="figure.strokeColor ?? 'transparent'"
                    [attr.fill]="figure.fillColor"
                    [attr.stroke-width]="figure.strokeWidth ?? 'transparent'"
                    (mousedown)="onMouseDown($event, figure)"
                    (click)="onFigureClick($event, figure)"
                    class="svg-node">
            </circle>
            <polygon *ngIf="isPolygon(figure)"
                     [attr.points]="asPolygon(figure).animatedSvgPoints"
                     [attr.stroke]="figure.strokeColor ?? 'transparent'"
                     [attr.fill]="figure.fillColor"
                     [attr.stroke-width]="figure.strokeWidth ?? 'transparent'"
                     (mousedown)="onMouseDown($event, figure)"
                     (click)="onFigureClick($event, figure)"
                     class="svg-node">
            </polygon>
            <ng-container *ngFor="let item of asCircle(figure).textPathLabel;let index = index">
                <path [attr.id]="figure.id + index"
                      fill="none"
                      [attr.d]="item.path"/>

                <text [attr.font-size]="item.size"
                      style="user-select: none; pointer-events: none; font-weight: bold;">
                    <textPath text-anchor="middle"
                              startOffset="50%"
                              [attr.href]="'#' + figure.id + index">{{item.text}}</textPath>
                </text>
            </ng-container>
        </ng-container>
    </svg>

    <div class="diagram-info-text">
        <p class="my-0">click to choose</p>
        <p class="my-0">shift + click to move</p>
        <p class="my-0">shift + scroll to zoom</p>
    </div>

</div>
